@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body {
  font-family : 'Montserrat' !important;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #60B237;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}



/* Angular header style */
.background-sky {
	background-color: #60B237;
	/*background: linear-gradient(145deg, #0d47a1, #42a5f5);*/
	color: #fff
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	min-height: 480px;
	height: 80vh;
	max-height: 560px;
	box-sizing: border-box;
	padding: 48px 48px 32px;
	overflow: hidden;
	transform: translateY(-200px);
	transform-origin: 100%
}

@media (max-width:480px) {
	.hero {
		max-height: 486px;
		padding-top: 40px;
		transform: none
	}
}


section#intro .hero-logo {
	justify-content: center
}


section#intro .hero-logo img {
	width: 400px;
	height: 400px;
	margin-bottom: 8px;
	padding: 0;
	filter: drop-shadow(0 2px 2px rgba(10, 16, 20, .24))
}

@media (max-width:780px) {
	section#intro .hero-logo img {
		width: 250px;
		height: 250px
	}
}

.hero .hero-title {
	display: inline-block;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: 400;
	line-height: 48px;
	line-height: 4.8rem;
	margin: 0 8px 0 0;
	text-transform: uppercase
}

.hero .hero-title.is-standard-case {
	text-transform: none
}

/* section#intro {
	display: flex;
	align-items: center;
	position: relative;
	width: 900px;
	height: 480px;
	margin: 0 auto -32px;
	color: #fff
} */

@media (max-width:780px) {
	section#intro {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 100vw;
		padding: 40px 0 32px
	}
	section#intro button {
		margin: 0;
		height: 60px
	}
}

section#intro .homepage-container {
	width: 100%;
	max-width: 1040px;
	margin: -7% auto 0;
	padding-top: 0;
	padding-bottom: 0
}

@media (max-width:780px) {
	section#intro .homepage-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 100%;
		padding: 0
	}
}

section#intro .hero-headline:after {
	display: none
}

@media (max-width:780px) {
	section#intro .hero-headline {
		text-align: center
	}
}

@media (max-width:575px) {
	section#intro .hero-headline {
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 50px;
		line-height: 5rem
	}
}

/*  */
.green-background {
  background-color: #60B237;
}
.green-img-background{
  position: relative;
  height: 100vh;
  background: url(../images/bg-img-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}
.blue-marine-bg {
  background: rgba(8, 145, 178, 0.05);
}

.laptop-img {
  width: 30vw !important
}
@media (max-width:400px) {
	.laptop-img {
		width:200px !important;
	}
}
@media (max-width:600px) {
	.laptop-img {
		width:300px !important;
	}
}

@media (max-width:1300px) {
	.laptop-img {
		width: 500px
	}
}


/*
@media (max-width:600px) {
	.home-row .card {
		margin: 16px auto 0
	}
	.home-row .card h2 {
		margin: 0
	}
	.home-row .card img {
		max-width: none;
		height: 70px
	}
}

@media (max-width:1300px) {
	.home-row .card img {
		height: 70px;
		max-width: none
	}
}

 @media screen and (min-width: 1024px) {
  .header__is-home {
      background-size: contain;
  }
}

.header__is-home--container {
    height: 100vh;
}
.header__is-home {
    position: relative;
    height: 100vh;
    background: url(../assets/images/bg-img.png) right bottom / contain no-repeat;
    background-repeat: no-repeat;
    background-position: right bottom;
} */
.hero {
    position: absolute;
    width: 100%;
    min-height: 450px;
    max-height: 550px;
    height: auto;
    /* transform: translateY(-0.01rem); */
    transform-origin: 100%;
}/*
section#intro {
    align-items: center;
    position: relative;
    width: 100%;
    padding: 48px 0 0;
    color: #fff;
} */
.custom-navbar {
  width: 80%;
  /* border-radius : 50px !important; */
}
.description {
  width: 60% !important;
}
.description p {
  font-style: normal;
  line-height: 1.5;
  color: #FFFFFF;
  margin: 0 auto;
}
.description img {
   width: 60%;
   height: auto;
}
.title {
  color: #60B237;
  font-family: 'Montserrat' !important;
  font-weight: 1000 !important;
}
.subtitle {
  color: #0891B2;
  font-family: 'Montserrat' !important;
}

 .w-65 ol {
  list-style: none;
  counter-reset: li;
}
.w-65 ol li::before {
  content: counter(li);
  color: #60B237;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

 .w-65 ol li {
  counter-increment: li
}
.w-65 {
  width:65vw !important;
}
.w-80 {
  width:80vw !important;
}
.goal-paragraph {
  font-family: 'Montserrat' !important;
  line-height: 2;
  text-align: justify;

}
.services-image {
  width:100%;
  height:auto;
  padding:30px 50px;
  margin-top:auto;
}
.white-background {
  background-color: white !important;
}

.problem-bloc {
  /* border: 3px solid #0891B2; */
  padding : auto !important;
}
.problem-statement img{
  max-width:20%;
  height:auto
}
.solution-list img {
  max-width:30%;
  height:auto
}
.problem {
  color:#0891B2;
  margin:auto;
  font-family:'Montserrat';
  max-width:60%;
}
.problem-list ul li::marker {
  color:#D92727;

  /* font-size: 5rem; */
}
.solution-list ul {
  padding-left: 1.5rem;
}
.solution-list ul li::marker {
  color:#60B237;

  /* font-size: 5rem; */
}
.argument-list ul li::marker {
  font-size: 1.5rem;
}
.card-title-bg {
  background: #0891B2;
}
.card {
  background-color:transparent !important;
  border: none !important;
}
.btn {
  background-color: #60B237 !important;
}

.header-nav {
  border-radius: 100px;
}

.home-row {
	max-width: 920px;
	margin: 32px auto
}

.home-row .card {
	height: 70%;
	width: auto;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
	box-sizing: border-box;
	transition: box-shadow .5s;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 70%;
	min-width: 350px;
	height: auto;
	margin: auto;
	padding: 24px;
	box-shadow: 0 6px 6px rgba(10, 16, 20, .15), 0 0 52px rgba(10, 16, 20, .12)
}

.home-row .card:hover {
	box-shadow: 0 8px 8px rgba(10, 16, 20, .24), 0 0 8px rgba(10, 16, 20, .12);
	text-decoration: none
}
/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #18d26e;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .form #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #60B237;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #18d26e;
  color: #fff;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #18d26e;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #18d26e;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #18d26e;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

#banner{
    background: url(../images/bg-img-cover.png) no-repeat center top;
    background-size: cover;
    min-height: 630px;
}
.bg-color{
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 630px;

}
#banner h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #FFB03B;
}
#banner p{
    font-family: 'Montserrat', sans-serif;
    color: #fcfcfc;
    /* font-size: 34px; */
}

@media (min-width: 20px) and (max-width: 450px) {

    #banner h2{
        font-size: 25px;
    }
    #banner p{
        font-size: 25px;
    }
}
